@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

html{    
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

::-webkit-scrollbar{
    width:0px;
    height:0px;
    background:transparent;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.unsplash-credit{
    position: fixed;
    bottom: 15px;
    width: 100%;
    text-align:center;
}

.hide, .list, .link-region{
    display: none;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.list{
    flex-direction: column;
    overflow-y: scroll;
}

.hide.active{
    display: flex;
    align-items: center;
}

.cancel-btn{
    display: flex;
    background: white;
    border-radius: 50%;
    padding: 0.5vw;
    cursor: pointer;
}

.tools, .main-content, .content, .curr-weather, 
.curr-time, .weather-desp, .greeting{
    display: flex;
    align-items:center;
}

.tools, .main-content, .weather-desp, .greeting{
    flex-direction:column;
}

.main-content{
    text-align:center;
    justify-content: center;
    width: 94vw;
    height: 100vh;
}

.weather-desp{
    align-items:flex-start;
}

.tools{
    width:6vw;
    height: 100vh;
    background:rgba(255, 255, 255, 0.6);
    right:0;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.tools.active{
    width: 45vw;
}

.tool{
    display:flex;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.tool-icon{
    width: 2vw;
    height: auto;
}

.trash{
    width: 1.8vw;
    height: auto;
}

#weather-svg{
    width: 7vw;
    height: auto;
}

.city-weather-svg{
    width: 4vw;
    height: auto;
}

.city-weather{
    display:flex;
    margin-bottom:0.2vw;
    align-items: center;
    justify-content: center;
    padding:0.5vw 0;
    width: 27vw;
    background:rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    transition-duration:300ms;
    transition-timing-function: ease-in;

}

.tool-content{
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    transition-duration:300ms;
    transition-timing-function: ease-in;
}

.city-weather-temp{
    font-size: 1.8vw;;
}

.weather-city-name{
    width:12vw;
    margin-left: 1vw;
    font-size:1.5vw;
    font-weight: 500;
}

.city{
    width:10vw;
}

.weather-delete-icon{
    margin-left: 1vw;
}

.todo, #todo-decor-bar{
    background:#FFEAC6;
}

.bar{
    margin: 1.5vw 0.75vw 0 0.75vw;
}

.weather, #weather-decor-bar{
    background:#FFD4AD;
}

.times, #times-decor-bar{
    background:#AAC5FF;
}

.decor-bar{
    height: 4vw;
    width: 1vw;
    border-radius: 20px;
}

.title{
    font-size: 2.5vw;
    font-weight: 500;
    width: 20vw;
    padding-left: 2vw;
}

.curr-time{
    align-items: baseline;
}

.time{
    font-size: 6.5vw;
    font-weight: 700;
}

.ampm{
    font-size: 2.5vw;
    font-weight: 500;
}

.weather-temp{
    font-size: 2.5vw;
    line-height: 1.1;
    font-weight: 500;
}

.weather-words, .curr-local{
    font-size: 1vw;
}

.greeting{
    font-size: 3.5vw;
    font-weight: 500;
}

#add-btn, .unchecked, .checked, .expand-icon{
    display: flex;
}

.todo-desp{
    display: block;
    padding-left: 1vw;
    width: 18vw;
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 2vw;
    max-height: 5vw;
    overflow:scroll;
}

.todo-main{
    display: flex;
    justify-content:center;
    align-items:flex-start;
}

.tool-item, .add{
    margin: 0.1vw 0;
    padding: 0.6vw;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.add{
    width:25vw;
    justify-content:space-between;
    padding: 0.5vw 1vw;
    margin-bottom: 1vw;
    /* margin: 1vw 0; */
}

.tool-item{
    flex-direction: column;
}

.link-region{
    flex-direction:column;
    padding-left: 1vw;
    max-height: 10vw;
    width: 20vw;
    overflow-y:scroll;
}

.links{
    display:flex;
    width: 20vw;
    padding: 0.3vw 0;
    font-size: 1.1vw;
    justify-content:flex-start;
    align-items:center;
}

.expand{
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.link-arrow-btn{
    display:flex;
}

.link-name{
    width:16.5vw;
}

a{
    font-weight: 500;
    font-style: italic;
    color:black;
}

.timezone-time{
    display:flex;
    align-items: baseline;
}

.timezone-time-date{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    padding: 0 1.5vw;
}

.timezone{
    display:flex;
    margin-bottom:0.2vw;
    align-items: center;
    justify-content: center;
    padding: 1vw 0;
    width: 27vw;
    background:rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    transition-duration:300ms;
    transition-timing-function: ease-in;
}
    
.timezone-name{
    width:13vw;
    font-size:1.2vw;
    font-weight: 500;
}

.timezone-time-hm{
    font-size:1.5vw;
    font-weight: 700;
}

.timezone-time-a{
    font-size:1vw;
    font-weight: 500; 
}

.dummy{
    padding: 1vw 1vw;
    font-size: 1.5vw;
    font-weight: 400;
    width: 25vw;
}

.error{
    color: red;
    font-weight:400;
    font-size:1.2vw;
    width: 25vw;
    padding: 1vw 1vw;
}